main {
  margin-top: 5rem;
}

.projects {
  color: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.projects h2 {
  font-size: 3rem;
  position: absolute;
  right: 0;
  top: 70rem;
  transform-origin: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: rotate(90deg);
}

.projects h2::before {
  content: "";
  width: 100px;
  height: 10px;
  margin: 10px;
  background-color: var(--accent);
}

.projects h2::after {
  content: "";
  width: 100px;
  height: 10px;
  margin: 10px;
  background-color: var(--accent);
}

.projects_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* -- Left -- */
.projects_left {
  width: 50%;
  margin: 1rem 40rem 1rem 1rem;
  aspect-ratio: 16/9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
}

.projects_left > h3 {
  color: #ffffff;
  font-size: 3rem;
}

.projects_left > button {
  width: 30%;
  font-size: 1.3rem;
  color: #ffffff;
  border-radius: 2rem;
  margin: 0.5rem 0 0 35%;
  background-color: transparent;
  border: 3px solid var(--accent);
  padding: 0.5rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.projects_left > button::after {
  content: ">";
  color: #ffffff;
  margin-left: 0.2rem;
  transition: margin-left 0.3s ease-in-out;
}

.projects_left > button:hover {
  background-color: var(--accent);
}

.projects_left > button:hover::after {
  margin-left: 1rem;
}

/* -- Right -- */
.projects_right {
  width: 50%;
  margin: 1rem 1rem 1rem 40rem;
  aspect-ratio: 16/9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
}

.projects_right > h3 {
  color: #ffffff;
  font-size: 3rem;
}

.projects_right > button {
  width: 30%;
  font-size: 1.3rem;
  color: #ffffff;
  border-radius: 2rem;
  margin: 0.5rem 0 0 35%;
  background-color: transparent;
  border: 3px solid var(--accent);
  padding: 0.5rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.projects_right > button::after {
  content: ">";
  color: #ffffff;
  margin-left: 0.2rem;
  transition: margin-left 0.3s ease-in-out;
}

.projects_right > button:hover {
  background-color: var(--accent);
}

.projects_right > button:hover::after {
  margin-left: 1rem;
}

/* -- Dhruv Banking --*/
.dhruv_banking {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../images/projects/dhruv_banking.png);
}

/* -- Dhruv Data --*/
.dhruv_data {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../images/projects/dhruv_data.png);
}

.haven_bot {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../images/projects/haven_bot.png);
}

.envio_club_website {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../images/projects/eviro_club_website.png);
}

/* -- About Me -- */
.aboutme {
  color: var(--white);
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  flex-direction: row;
}

.aboutme_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme > p {
  position: absolute;
}

.aboutme > h2 {
  font-size: 3rem;
  position: absolute;
  left: 0;
  top: 210rem;
  transform-origin: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: rotate(-90deg);
}

.aboutme > h2::before {
  content: "";
  width: 100px;
  height: 10px;
  margin: 10px;
  background-color: var(--accent);
}

.aboutme > h2::after {
  content: "";
  width: 100px;
  height: 10px;
  margin: 10px;
  background-color: var(--accent);
}

/* -- About Me Left -- */
.aboutme_left {
  width: 50%;
  text-align: center;
}

.aboutme_left > h3 {
  font-size: 2rem;
}
.aboutme_left ul li {
  list-style: none;
  padding: 1rem 0rem 0.5rem 0rem;
}

.container {
  color: #ffffff;
  width: 75%;
  margin: auto;
  background-color: var(--black-2);
  border-radius: 50px 10px;
  margin-bottom: 1.5%;
}

.skills {
  text-align: right;
  margin-right: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 50px 10px;
}

.skills > p {
  margin-right: 1rem;
}

.html {
  width: 90%;
  background-color: var(--accent);
}

.css {
  width: 90%;
  background-color: var(--accent);
}

.js {
  width: 80%;
  background-color: var(--accent);
}

.c-sharp {
  width: 80%;
  background-color: var(--accent);
}

.python {
  width: 60%;
  background-color: var(--accent);
}

/* -- About Me Right -- */
.aboutme_right {
  width: 50%;
  text-align: center;
}

.aboutme_right > h3 {
  font-size: 2rem;
}

.aboutme_right ul > li {
  margin: 1rem;
  font-size: 1.3rem;
  list-style-type: none;
}

/* -- Modal -- */
.projects_modal {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_inner {
  position: fixed;
  top: 50%;
  right: 50%;
  width: 60%;
  aspect-ratio: 16/9;
  background-color: var(--black-2);
  border: 4px solid var(--accent);
  border-radius: 2rem;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.modal_inner > img {
  border-radius: inherit;
  width: 100%;
  height: 250px;
  filter: brightness(0.4);
  object-fit: cover;
}

.modal_inner > button {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 4px solid var(--accent);
  border-radius: 1rem;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
}

.modal_inner > div {
  margin-bottom: 12.5%;
  text-align: center;
}

.modal_inner > div h3 {
  margin: 1rem;
  font-size: 3rem;
}

.modal_inner > div p {
  font-size: 1.3rem;
}

.background_in {
  animation: background_in_anim 0.5s;
}

.background_out {
  animation: background_out_anim 0.5s;
}

.card_in {
  animation: card_in_anim 0.5s;
}

.card_out {
  animation: card_out_anim 0.5s;
}

@media only screen and (max-width: 900px) {
  .modal_inner {
    width: 90%;
    height: 70%;
    aspect-ratio: 16/10;
  }

  .modal_inner > img {
    height: 50%;
  }

  .modal_inner > div p {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 550px) {
  .modal_inner {
    width: 95%;
    height: 90%;
    aspect-ratio: 1/1;
  }

  .modal_inner > img {
    height: 60%;
  }

  .modal_inner > div p {
    margin-bottom: 4rem;
  }
}

@keyframes background_in_anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes background_out_anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes card_in_anim {
  0% {
    top: 40%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes card_out_anim {
  0% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}

@media only screen and (max-width: 1650px) {
  .aboutme > h2 {
    top: 190rem;
  }
}

@media only screen and (max-width: 1400px) {
  .aboutme > h2 {
    top: 175rem;
  }
}

@media only screen and (max-width: 1350px) {
  .projects_left {
    width: 40%;
    margin-right: 25rem;
  }

  .projects_left > h3 {
    font-size: 2.5rem;
  }

  .projects_left > button {
    font-size: 1rem;
  }

  .projects_right {
    width: 40%;
    margin-left: 25rem;
  }

  .projects_right > h3 {
    font-size: 2.5rem;
  }

  .projects_right > button {
    font-size: 1rem;
  }

  .aboutme > h2 {
    top: 160rem;
  }
}

@media only screen and (max-width: 1200px) {
  .aboutme > h2 {
    top: 160rem;
  }
}

@media only screen and (max-width: 1150px) {
  .aboutme > h2 {
    top: 145rem;
  }
}

@media only screen and (max-width: 950px) {
  .projects_left {
    width: 70%;
    margin-right: 1rem;
  }

  .projects_right {
    width: 70%;
    margin-left: 1rem;
  }

  .projects h2 {
    display: flex;
    position: inherit;
    transform: rotate(0);
    transform-origin: 0%;
  }

  .aboutme {
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutme > h2 {
    display: flex;
    position: inherit;
    transform: rotate(0);
    transform-origin: 0%;
    margin-bottom: 1rem;
  }

  .aboutme_wrapper {
    flex-direction: column;
  }

  .aboutme_left,
  .aboutme_right {
    width: 90%;
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 550px) {
  .projects_left,
  .projects_right {
    width: 90%;
    margin-right: 1rem;
  }

  .projects h2::after,
  .projects h2::before {
    display: none;
  }

  .aboutme > h2::after,
  .aboutme > h2::before {
    display: none;
  }

  .aboutme_left,
  .aboutme_right {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .projects > h2 {
    margin: 1rem 0;
  }

  .projects_left > h3,
  .projects_right > h3 {
    font-size: 2rem;
  }

  .projects_left > button,
  .projects_right > button {
    font-size: 0.7rem;
  }
}
