footer {
  background-color: var(--black-2);
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
}

footer > h3 {
  font-size: 3rem;
  margin-top: 3rem;
}

.footer_links a {
  font-size: 1.5rem;
  margin: 3rem 1rem;
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  transition: color 0.4s ease 0s;
}

.footer_links a:hover {
  color: var(--accent);
}

.footer_links button {
  font-size: 1.5rem;
  margin: 1rem;
  border: solid 2px var(--accent);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.footer_links button:hover {
  background-color: var(--accent);
}

.footer_spicy_links {
  padding-bottom: 3rem;
}

.footer_spicy_links a {
  color: var(--white);
  font-size: 2rem;
  margin: 3rem 1rem 1rem 1rem;
  background-color: #303030;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.footer_spicy_links a:hover {
  color: var(--accent);
}
