@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* -- Hide Scrol Bar -- */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 0.1s;
}

:root {
    --white: #fff;
    --black: #181818;
    --black-2: #202020;
    --accent: #457b9d;
}

body {
    height: 100%;
    background-color: var(--black);
}

.page_not_found_main {
    color: var(--white);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 4rem 0;
}